html {
    scroll-behavior: smooth;
}
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
}

/* sections  */
.section {
    position: relative;
    height: 100vh;
}

.section.one {
    background-color: red;
}

.section.two {
    background-color: green;
}

.section.three {
    background-color: yellow;
}

.wrapper {
    position: absolute;
    height: 100vh;
    width: 50%;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}}

/* Elementi comuni nella sezione */

img {
    height: 100%;
}

.text {
    font-size: 3vw;
    color: yellow;
    text-transform: uppercase;
    font-weight: bold;
}
/* fine Elementi comuni nella sezione */

.green {
    color: green;
}
/* fine sections  */

/* bottoni prima sezione  */
.button-section {
    position: fixed;
    width: 25%;
    height: 25%;
    top: 0;
    right: 20px;
    margin: 40px 20px;
    background-size: auto;
    text-decoration: none;
}

.button:hover {
    opacity: 0.8;
}

a {
    color: black;
    text-align: center;
    border-radius: 60%;
    background-color: white;
    float: right;
    padding: 17px;
    margin: 0 17px;
    text-decoration: none;
    width: 15%;
}
/* / bottoni prima sezione  */