* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
}

/* sections  */

.section {
    position: relative;
    height: 100vh;
}

.section.one {
    background-color: red;
}

.section.two {
    background-color: green;
}

.section.three {
    background-color: yellow;
}



.wrapper-first {
    position: absolute;
    height: 50%;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper-second {
    position: absolute;
    height: 50%;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper-third {
    position: absolute;
    height: 50%;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Elementi comuni nella sezione */

/* img{
    /* position: absolute; */
    /* top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); 
} */

img {
    height: 80%;
}

.text {
    /* bottom: 20%;
    left: 28%; */
    font-size: 40px;
    color: yellow;
    text-transform: uppercase;
    font-weight: bold;
}
/* fine Elementi comuni nella sezione */

.text-b {
    /* bottom: 13%;
    left: 40%; */
    font-size: 40px;
    color: yellow;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.green {
    color: green;
}
/* fine sections  */

/* bottoni prima sezione  */
.button-section {
    position: fixed;
    width: 25%;
    top: 0;
    right: 20px;
    margin: 40px 20px;
    background-size: auto;
    text-decoration: none;
}

.button:hover {
    opacity: 0.8;
}

a {
    color: black;
    text-align: center;
    border-radius: 60%;
    background-color: white;
    float: right;
    padding: 17px;
    margin: 0 17px;
    text-decoration: none;
    width: 15%;
}
/* / bottoni prima sezione  */